<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nhankv.weather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:configChanges="locale|orientation"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mainactivity.MainActivity"
            android:label=""
            android:icon="@drawable/menu"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode|navigation"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD6gaaIqGoGyH0DWejP_-2IkXENj09Z-cw" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD6gaaIqGoGyH0DWejP_-2IkXENj09Z-cw" />

        <activity
            android:name=".mainactivity.PlacesAutoCompleteActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity android:name=".setting.SettingActivity"></activity>
    </application>

</manifest>
